@import 'sidebar';
@import 'menubar';

.u-expand {
  &--width {
    width: 100%;
  }

  &--height {
    height: 100%;
  }
}

.u-spacing {
  padding-top: $spacing-generic;
  padding-bottom: $spacing-generic;
}

.u-rythm {
  &--vertical {
    & > * {
      margin-top: $spacing-generic !important;

      &:first-child {
        margin-top: 0 !important;
      }
    }
  }

  &--horizontal {
    & > * {
      margin-left: $spacing-generic !important;

      &:first-child {
        margin-left: 0 !important;
      }
    }
  }
}

.u-gutter {
  padding-left: $gutter-generic;
  padding-right: $gutter-generic;
}

.u-overflow {
  overflow: auto;

  &--vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
