@import 'sidebar';
@import 'menubar';

.u-expand {
  &--width {
    width: 100%;
  }

  &--height {
    height: 100%;
  }
}

.u-stacking {
  &--foreground {
    position: relative;
    z-index: 10;
  }

  &--midground {
    position: relative;
    z-index: 5;
  }
}

.u-spacing {
  padding-top: $spacing-generic;
  padding-bottom: $spacing-generic;

  &--tiny {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

[class*="u-rythm--vertical"] {
  & > * {
    margin-top: $spacing-generic !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

.u-rythm {
  &--vertical-medium {
    & > * {
      margin-top: 2rem !important;
    }
  }

  /*&--vertical {
    & > * {
      margin-top: $spacing-generic !important;

      &:first-child {
        margin-top: 0 !important;
      }
    }
  }

  &--vertical-medium {
    & > * {
      margin-top: 2rem !important;

      &:first-child {
        margin-top: 0 !important;
      }
    }
  }*/

  &--horizontal {
    & > * {
      margin-left: $spacing-generic !important;

      &:first-child {
        margin-left: 0 !important;
      }
    }
  }
}

.u-gutter {
  padding-left: $gutter-generic !important;
  padding-right: $gutter-generic !important;

  &--tiny {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.u-overflow {
  overflow: auto;

  &--vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.u-display {
  &--inline-block {
    display: inline-block !important;
  }
}
