a {
  --icon-fill-color: var(--anchor-color);

  background-color:  var(--anchor-fill-color);
  color: var(--anchor-color);
  text-decoration: none;
  transition: all 150ms ease;

  &:hover {
    --anchor-color: $anchor-color-hover;
    --icon-fill-color: $anchor-color-hover;

    color: var(--anchor-color);
  }
}
