input, select {
  border: none;
  border-radius: $input-border-radius;
  color: $input-color;
  font-size: $input-font-size;
  height: 2.5rem;
  line-height: 1rem;
  //max-width: rem-calc(256px);
  padding-left: $input-padding-horizontal;
  padding-right: $input-padding-horizontal;
  width: 100%;
}

input {
  //padding-top: 0.75rem;
  //padding-bottom: 0.75rem;
}

select {

}

option {
  padding-left: $input-padding-horizontal;
  padding-right: $input-padding-horizontal;
}

label {
  display: block;
  font-weight: $font-form-label-weight;
  font-size: $font-form-label-size;
  line-height: $font-form-label-line-height;
}

button {
  --button-background-color: $button-background-color;

  background-color: var(--button-background-color);
  border: none;
  border-radius: $button-border-radius;
  color: $button-color;
  font-size: $button-font-size;
  height: 2.5rem;
  line-height: 1rem;
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;

  transition: background-color 150ms ease;

  &:hover {
    --button-background-color: $button-background-color-hover;

    background-color: var(--button-background-color);
  }

  & ~ * {
    margin-left: $button-spacing-horizontal;
  }
}
