.c-dragndrop {
  color: var(--font-generic-color);
  border-color: var(--border-generic-color);
  border-style: $border-dragndrop-style;
  border-width: $border-dragndrop-width;
  margin: $dragndrop-margin;
  padding: $dragndrop-padding;
}
