.c-tags {
  //overflow: hidden;
  //margin-left: -0.5rem;
  //margin-top: -0.5rem;
  margin-bottom: -1rem;

  &__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.c-tag {
  border-radius: $tag-border-radius;
  color: $tag-color;
  display: inline-block;
  padding: $tag-padding-vertical $tag-padding-horizontal * 2.5 $tag-padding-vertical $tag-padding-horizontal * 0.5;
  position: relative;

  &__action {
    background-color: $color-brightest;
    border-radius: 100%;
    display: inline-block;
    height: 1rem;
    line-height: 0;
    margin-left: 0.5rem;
    padding: 0.25rem;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    width: 1rem;

    .o-icon {
    }
  }

  /**
  *
  * ids
  *
  */
  $tags-count: 10;

  $tag-colors: $color-info, $color-success, $color-alert, $color-warning;

  @for $i from 0 through $tags-count {
    $tag-color-id: floor((length($tag-colors) - 1) / ($tags-count - 1) * $i) + 1;

    //@debug $tag-color-id;

    $tag-color: nth($tag-colors, $tag-color-id);

    &--#{$i + 1} {
      $darken-amount: $i % round($tags-count / length($tag-colors));

      //@debug $darken-amount;

      background-color: darken($tag-color, $darken-amount * 5);
    }
  }
}
