/**
*
* Named Colors
*
*/
/*$shade-darkest: black;
$shade-dark: #1C1C1E;
$shade-shadow: lighten(#282b2d, 25);
$shade-base: darken(white, 35);
$shade-bright: darken(white, 10);
$shade-brightest: white;*/

$color-darkest: black;
$color-dark: #1C1C1E;
$color-dim: #282b2d;
$color-metallic: darken(white, 5);
$color-base: lighten($color-dim, 25);
$color-brightest: white;

$color-green: #71bc7e;
$color-red: #dc5b55;
$color-yellow: #ffbd5e;
$color-orange: #FB784A;
$color-blue: #3092a2;

$color-info: $color-blue;
$color-alert: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;

$color-primary: $color-success;
$color-secondary: $color-info;

/**
*
* Generic
*
*/
$font-generic-color: $color-base;

/*
*
* Elements
*
*/

$input-color: $color-base;

$anchor-color: $color-success;
$anchor-color-hover: darken($anchor-color, 25);

$button-color: $color-brightest;
$button-background-color: $color-success;
$button-background-color-hover: darken($color-success, 10);

/**
*
* Objects
*
*/
$link-alert-color: $color-alert;
$link-alert-color-hover: darken($link-alert-color, 25);
$link-warning-color: $color-warning;
$link-warning-color-hover: darken($link-warning-color, 25);
$link-neutral-color: $color-base;
$link-neutral-color-hover: darken($link-neutral-color, 25);

$picture-background-color: $color-metallic;

$icon-generic-fill-color: $color-info;

/**
*
* Themes
*
*/
$theme-paint-dark-background-color: $color-dark;
$theme-paint-dark-color: lighten($color-base, 35);

$theme-paint-dim-background-color: $color-dim;
$theme-paint-dim-color: lighten($color-base, 35);

$theme-paint-metallic-background-color: $color-metallic;

$border-generic-color: $color-base;
$border-beveled-color-top: rgba($color-brightest, 0.25);
$border-beveled-color-bottom: rgba($color-darkest, 0.25);

/**
*
* Components
*
*/
$border-dragndrop-color: $border-generic-color;

$progressbar-background-color: $color-base;
$progressbar-bar-background-color: $color-success;

$tag-color: $color-brightest;
