/**
*
* Fonts
*
*/
$font-generic-family: Arial, 'sans-serif';
$font-generic-weight: normal;

/**
*
* Borders
*
*/
$border-generic-style: solid;

$border-separator-style: $border-generic-style;

$border-dragndrop-style: dashed;
