/**
*
* Generic
*
*/
$max-width: 1200px;
$margin-generic: 1rem;
$padding-generic: 1rem;

$font-generic-size: 16px;
$line-generic-height: 1.5em;

/**
*
* Elements
*
*/
$font-form-size: 0.8em;

/**
*
* Themes
*
*/
$border-generic-width: 1px;
$border-separator-width: $border-generic-width;

$font-detail-size: 0.8em;

/**
*
* Components
*
*/
$border-dragndrop-width: $border-generic-width;
