.t-paint {
  &--dark {
    --font-generic-color: $theme-paint-dark-color;
    --font-detail-color: rgba($theme-paint-dark-color, 0.5);
    --paint-background-color:  $theme-paint-dark-background-color;

    background-color: var(--paint-background-color);
  }

  &--dim {
    --font-generic-color: $theme-paint-dim-color;
    --font-detail-color: rgba($theme-paint-dim-color, 0.5);
    --paint-background-color:  $theme-paint-dim-background-color;

    background-color: var(--paint-background-color);
  }

  &--metallic {
    --paint-background-color:  $theme-paint-metallic-background-color;

    background-color: var(--paint-background-color);
  }

  &--ice {
    --anchor-color: darken(white, 75);
    --anchor-color-hover: darken(white, 50);
    --paint-background-color: lighten(desaturate($color-info, 40), 30);

    background-color: var(--paint-background-color);
  }

  &--ghost {
    --paint-background-color: rgba(white, 0.05);

    background-color: var(--paint-background-color);
  }

  &--phantom {
    --paint-background-color: rgba(black, 0.05);

    background-color: var(--paint-background-color);
  }
}

.t-shadow {
  &--inside {
    box-shadow: inset 0 0.125rem 0.25rem rgba(black, 0.1);
  }

  &--outside {
    box-shadow: $box-shadow-generic;
  }
}

.t-font {
  &--detail {
    color: var(--font-detail-color);
    font-size: $font-detail-size;
  }

  &--emphasis {
    font-weight: bold;
  }
}

.t-separator {
  & > * {
    border-bottom-width: 0;
    border-color: var(--border-generic-color);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: $border-separator-width;
    border-style: $border-separator-style;

    &:first-child {
      border-top: none;
    }
  }

  &--beveled {
    & > * {
      border-bottom-color: var(--border-beveled-color-bottom);
      border-bottom-width: $border-separator-width;
      border-left-width: 0;
      border-right-width: 0;
      border-style: $border-separator-style;
      border-top-color: var(--border-beveled-color-top);
      border-top-width: $border-separator-width;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
