.o-icon {
  display: inline-block;
  fill: var(--icon-fill-color);
  height: 1rem;
  width: 1rem;

  transition: fill 150ms ease;

  &--tiny {
    height: 0.5rem;
    width: 0.5rem;
  }

  &--small {
    height: 1rem;
    width: 1rem;
  }

  &--medium {
    height: 2rem;
    width: 2rem;
  }

  &--large {
    height: 4rem;
    width: 4rem;
  }

  & ~ * {
    //margin-left: 0.5rem;
  }
}
