$object-link-name: o-link;

.#{$object-link-name} {
  &--info {
    --icon-fill-color: $color-info;
    --anchor-color: $color-info;

    &:hover {
      --icon-fill-color: darken($color-info, 25);
      --anchor-color: darken($color-info, 25);
    }
  }

  &--alert {
    --icon-fill-color: $link-alert-color;
    --anchor-color: $link-alert-color;

    &:hover {
      --icon-fill-color: $link-alert-color-hover;
      --anchor-color: $link-alert-color-hover;
    }
  }

  &--warning {
    --icon-fill-color: $link-warning-color;
    --anchor-color: $link-warning-color;

    &:hover {
      --icon-fill-color: $link-warning-color-hover;
      --anchor-color: $link-warning-color-hover;
    }
  }

  &--neutral {
    --icon-fill-color: lighten(black, 35);
    --anchor-color: lighten(black, 35);

    &:hover {
      --icon-fill-color: lighten(black, 50);
      --anchor-color: lighten(black, 50);
    }
  }

  &--active {
    color: var(--anchor-color-active);

    &:hover {
      color: var(--anchor-color-active);
    }
  }

  &--block {
    display: block;
  }

  &--fill {
    &:hover {
      --icon-fill-color: white;
      --anchor-fill-color: var(--anchor-color);

      color: white;
    }
  }

  &--filled {
    --icon-fill-color: white;
    --anchor-fill-color: var(--anchor-color);

    color: white;

    &:hover {
      --icon-fill-color: white;

      color: white;
    }
  }

  &--icon {
    //line-height: 0;
  }
}
