.o-link {
  &--info {
    --icon-fill-color: $color-info;
    --anchor-color: $color-info;
    --anchor-color-hover: darken($color-info, 25);

    &:hover {
      --icon-fill-color: darken($color-info, 25);
      --anchor-color: darken($color-info, 25);
    }
  }

  &--alert {
    --icon-fill-color: $link-alert-color;
    --anchor-color: $link-alert-color;
    --anchor-color-hover: $link-alert-color-hover;

    &:hover {
      --icon-fill-color: $link-alert-color-hover;
      --anchor-color: $link-alert-color-hover;
    }
  }

  &--warning {
    --icon-fill-color: $link-warning-color;
    --anchor-color: $link-warning-color;
    --anchor-color-hover: $link-warning-color-hover;

    &:hover {
      --icon-fill-color: $link-warning-color-hover;
      --anchor-color: $link-warning-color-hover;
    }
  }

  &--neutral {
    --icon-fill-color: $link-neutral-color;
    --anchor-color: $link-neutral-color;

    &:hover {
      --icon-fill-color: $link-neutral-color-hover;
      --anchor-color: $link-neutral-color-hover;
    }
  }

  &--active {
    color: var(--anchor-color-active);

    &:hover {
      color: var(--anchor-color-active);
    }
  }

  &--icon {
    //line-height: 0;
  }
}
