.o-picture {
  --height: rem-calc(128px);

  background-color: $picture-background-color;
  line-height: 0;

  img {
    width: auto;
    height: var(--height);
  }

  &--tiny {
    --height: 4rem;
  }

  &--small {
    --height: 8rem;
    //--height: rem-calc(128px);
  }

  &--medium {
    --height: 16rem;
  }

  &--large {
    --height: 32rem;
  }

  &--framed {
    background-color: $color-brightest;
    border: 1px solid rgba($color-base, 0.5);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  &__item {
    background-color: $color-base;
    height: var(--height);
    width: var(--height);
  }
}
